<h1>iBuilder</h1>

<h3>A Computer Building Website</h3>



<br>

<div>
  Use the links below to direct you to each part you will need for your system.
</div>

<ul>
  <li>
    <a href="/cpu_data">Processors
  </li>
  <li>
    <a href="/gpu_data">Graphics Cards
  </li>
  <li>
    <a href="/mobo_data">Motherboards
  </li>
  <li>
    <a href="/ram_data">Memory
  </li>
  <li>
    <a href="/cpu_cooler_data">CPU Coolers
  </li>
  <li>
    <a href="/ssd_data">Storage
  </li>
  <li>
    <a href="/psu_data">Power Supplies
  </li>
  <li>
    <a href="/case_data">Computer Cases
  </li>
</ul>