<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
      <nav>
        <%# <ul>
          <li>
            <a href="/cpu_data">Processors
          </li>
          <li>
            <a href="/gpu_data">Graphics Cards
          </li>
          <li>
            <a href="/mobo_data">Motherboards
          </li>
          <li>
            <a href="/ram_data">Memory
          </li>
          <li>
            <a href="/cpu_cooler_data">CPU Coolers
          </li>
          <li>
            <a href="/ssd_data">Storage
          </li>
          <li>
            <a href="/psu_data">Power Supplies
          </li>
          <li>
            <a href="/case_data">Computer Cases
          </li>
        </ul> %>
      </nav>

    <%= yield %>
    
  </body>
</html>
