<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
      <nav>
        <ul>
          <li>
            <a href="/user_sign_up">Sign Up</a>
          </li>
          <li>
            <a href="/user_sign_in">Sign In</a>
          </li>
          <li>
            <a href="/user_sign_out">Sign Out</a>
          </li>
        </ul>

        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/cpu_data">Processors</a>
          </li>
          <li>
            <a href="/gpu_data">Graphics Cards</a>
          </li>
          <li>
            <a href="/mobo_data">Motherboards</a>
          </li>
          <li>
            <a href="/ram_data">Memory</a>
          </li>
          <li>
            <a href="/cpu_cooler_data">CPU Coolers</a>
          </li>
          <li>
            <a href="/ssd_data">Storage</a>
          </li>
          <li>
            <a href="/psu_data">Power Supplies</a>
          </li>
          <li>
            <a href="/case_data">Computer Cases</a>
          </li>
        </ul>
      </nav>

    <%= yield %>
    
  </body>
</html>
